@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    min-height: 100vh;
    width: 100%;
    background-color: #E6E9F2;
    color: #3A4562;
  }

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
